In [1]:
print("yay!")

yay!

In [2]:
print(22)

22

In [3]:
(5+4)/2

4.5

In [16]:
country="India"
age=12

In [10]:
print(country,age)

India 12

In [11]:
print(country+" "+age)

India 12

In [12]:
10**3==1000

True

In [17]:
if age >= 18:
    print("Adult")
else:
    print("Minor")

Minor

In [18]:
for number in [1,2,3,4,5]:
    print(number)

1
2
3
4
5

In [ ]:
my_list=[3,6,9]
for x in my_list:
    print(x/3)

my_list1=[1,2,3,4,5]
for number in my_list1:
    print(number/3)

my_list2=[1,2,3,4,5]
for number in my_list2:
    print(number//2,type(number//2))

1.0
2.0
3.0
0.3333333333333333
0.6666666666666666
1.0
1.3333333333333333
1.6666666666666667
0 <class 'int'>
1 <class 'int'>
1 <class 'int'>
2 <class 'int'>
2 <class 'int'>

In [29]:
def is_adult(age):
    if age>=18:
        return "Adult"
    else:
        return "Minor"

is_adult(18)

'Adult'

In [30]:
is_adult(12)

'Minor'

In [35]:
new_list=[20,25,15,19]

sorted(new_list)

[15, 19, 20, 25]