In [1]:
example_a = [1, 2, 2.0, '2']
set(example_a)

{1, 2, '2'}

In [2]:
example_b = ('apple', (1, 2, 2, 2, 3), 2)
set(example_b)

{(1, 2, 2, 2, 3), 2, 'apple'}

In [ ]:
# The preceding example throws an error because each element of a set must be hashable (≈ immutable), but {‘a’, ‘b’, ‘c’} is a set, which is a mutable (unhashable) object.

example_c = [1.5, {'a', 'b', 'c'}, 1.5]
set(example_c)

TypeError: unhashable type: 'set'

In [4]:
example_d = {'mother', 'hamster', 'father'}
example_d.add('elderberries')
example_d

{'elderberries', 'father', 'hamster', 'mother'}

In [5]:
example_e = [1.5, frozenset(['a', 'b', 'c']), 1.5]
set(example_e)

{1.5, frozenset({'a', 'b', 'c'})}

In [6]:
set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd'}

print(set_1.union(set_2))
print(set_1 | set_2)

{'a', 'd', 'b', 'c'}
{'a', 'd', 'b', 'c'}

In [7]:
set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd'}

print(set_1.intersection(set_2))
print(set_1 & set_2)

{'b', 'c'}
{'b', 'c'}

In [8]:
set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd'}

print(set_1.difference(set_2))
print(set_1 - set_2)

{'a'}
{'a'}

In [9]:
set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd'}

print(set_1.symmetric_difference(set_2))
print(set_1 ^ set_2)

{'a', 'd'}
{'a', 'd'}