In [4]:
import pandas as pd
import numpy as np

In [2]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [5]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
df = pd.DataFrame({
   'A': ['alpha', 'apple', 'arsenic', 'angel', 'android'],
   'B': [1, 2, 3, 4, 5],
   'C': ['coconut', 'curse', 'cassava', 'cuckoo', 'clarinet'],
   'D': [6, 7, 8, 9, 10]
   },
   index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4'])
df

             A  B         C   D
row_0    alpha  1   coconut   6
row_1    apple  2     curse   7
row_2  arsenic  3   cassava   8
row_3    angel  4    cuckoo   9
row_4  android  5  clarinet  10

In [7]:
print(df.loc['row_1'])

A    apple
B        2
C    curse
D        7
Name: row_1, dtype: object

In [8]:
print(df.loc[['row_1']])

           A  B      C  D
row_1  apple  2  curse  7

In [9]:
print(df.loc[['row_2', 'row_4']])

             A  B         C   D
row_2  arsenic  3   cassava   8
row_4  android  5  clarinet  10

In [11]:
print(df.loc['row_0':'row_3'])

             A  B        C  D
row_0    alpha  1  coconut  6
row_1    apple  2    curse  7
row_2  arsenic  3  cassava  8
row_3    angel  4   cuckoo  9

In [12]:
print(df)
print()
print(df.iloc[1])

             A  B         C   D
row_0    alpha  1   coconut   6
row_1    apple  2     curse   7
row_2  arsenic  3   cassava   8
row_3    angel  4    cuckoo   9
row_4  android  5  clarinet  10

A    apple
B        2
C    curse
D        7
Name: row_1, dtype: object

In [14]:
df.iloc[[1]]

           A  B      C  D
row_1  apple  2  curse  7

In [15]:
print(df.iloc[[0, 2, 4]])

             A  B         C   D
row_0    alpha  1   coconut   6
row_2  arsenic  3   cassava   8
row_4  android  5  clarinet  10

In [16]:
print(df.iloc[0:3])

             A  B        C  D
row_0    alpha  1  coconut  6
row_1    apple  2    curse  7
row_2  arsenic  3  cassava  8

In [17]:
print(df['C'])

row_0     coconut
row_1       curse
row_2     cassava
row_3      cuckoo
row_4    clarinet
Name: C, dtype: object

In [18]:
print(df[['A', 'C']])

             A         C
row_0    alpha   coconut
row_1    apple     curse
row_2  arsenic   cassava
row_3    angel    cuckoo
row_4  android  clarinet

In [19]:
print(df.A)

row_0      alpha
row_1      apple
row_2    arsenic
row_3      angel
row_4    android
Name: A, dtype: object

In [20]:
print(df)
print()

print(df.loc[:, ['B', 'D']])

             A  B         C   D
row_0    alpha  1   coconut   6
row_1    apple  2     curse   7
row_2  arsenic  3   cassava   8
row_3    angel  4    cuckoo   9
row_4  android  5  clarinet  10

       B   D
row_0  1   6
row_1  2   7
row_2  3   8
row_3  4   9
row_4  5  10

In [21]:
print(df.iloc[:, [1,3]])

       B   D
row_0  1   6
row_1  2   7
row_2  3   8
row_3  4   9
row_4  5  10

In [22]:
print(df.loc['row_0':'row_2', ['A','C']])

             A        C
row_0    alpha  coconut
row_1    apple    curse
row_2  arsenic  cassava

In [23]:
print(df.iloc[[2, 4], 0:3])

             A  B         C
row_2  arsenic  3   cassava
row_4  android  5  clarinet

In [ ]:
# Note that, when using rows with named indices, you cannot mix numeric and named notation. For example, the following code will throw an error:

print(df.loc[0:3, ['D']])

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [26]:
print(df.iloc[0:3][['D']])

       D
row_0  6
row_1  7
row_2  8

In [27]:
print(df.loc[df.index[0:3], 'D'])

row_0    6
row_1    7
row_2    8
Name: D, dtype: int64

In [28]:
df = pd.DataFrame({
   'A': ['alpha', 'apple', 'arsenic', 'angel', 'android'],
   'B': [1, 2, 3, 4, 5],
   'C': ['coconut', 'curse', 'cassava', 'cuckoo', 'clarinet'],
   'D': [6, 7, 8, 9, 10]
   },
   )
df

         A  B         C   D
0    alpha  1   coconut   6
1    apple  2     curse   7
2  arsenic  3   cassava   8
3    angel  4    cuckoo   9
4  android  5  clarinet  10