In [1]:
fullname = ('Masha', 'Z', 'Hopper')

In [ ]:
# Tuples are immutable, so their elements cannot be overwritten.

fullname[2] = 'Copper'
print(fullname)

TypeError: 'tuple' object does not support item assignment

In [3]:
fullname = fullname + ('Jr',)
print(fullname)

('Masha', 'Z', 'Hopper', 'Jr')

In [4]:
fullname = ['Masha', 'Z', 'Hopper']
fullname = tuple(fullname)
print(fullname)

('Masha', 'Z', 'Hopper')

In [6]:
def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)

    return dollars, cents

In [7]:
to_dollars_cents(6.55)

(6, 55)

In [8]:
dollars, cents = to_dollars_cents(6.55)
print(dollars + 1)
print(cents + 1)

7
56

In [9]:
type(dollars)

int

In [10]:
team = [('Marta', 20, 'center'),
        ('Ana', 22, 'point guard'),
        ('Gabi', 22, 'shooting guard'),
        ('Luz', 21, 'power forward'),
        ('Lorena', 19, 'small forward'),
        ]

In [11]:
for name, age, position in team:
    print(name)

Marta
Ana
Gabi
Luz
Lorena

In [12]:
for player in team:
    print(player[0])

Marta
Ana
Gabi
Luz
Lorena