In [27]:
from datetime import datetime
from pytz import timezone
import pandas as pd

In [2]:
dt_object=datetime.strptime('25/11/2022', '%d/%m/%Y')

print(dt_object)
type(dt_object)

2022-11-25 00:00:00

datetime.datetime

In [5]:
dtstr=datetime.strftime(dt_object,'%d/%m/%Y')

print(dtstr)
type(dtstr)

25/11/2022

str

In [7]:
dtts = datetime.timestamp(dt_object)

print(dtts)
type(dtts)

1669314600.0

float

In [13]:
dtstr2=datetime.strptime("25/11/2022","%d/%m/%Y").strftime("%Y/%m/%d")

print(dtstr2)
type(dtstr2)

dtstr3=datetime.strptime("25/11/2022","%d/%m/%Y").strftime("%Y-%m-%d")
print(dtstr3)
type(dtstr3)

2022/11/25
2022-11-25

str

In [14]:
dtfts=datetime.fromtimestamp(dtts)

print(dtfts)
type(dtfts)

2022-11-25 00:00:00

datetime.datetime

In [16]:
dtftstostr=datetime.fromtimestamp(dtts).strftime("%d/%m/%Y")

print(dtftstostr)
type(dtftstostr)

25/11/2022

str

In [21]:
ny_time = datetime.strptime('25-11-2022  09:34:00-0700','%d-%m-%Y  %H:%M:%S%z')

print(ny_time)
type(ny_time)

2022-11-25 09:34:00-07:00

datetime.datetime

In [22]:
Tokyo_time = ny_time.astimezone(timezone('Asia/Tokyo'))
print(Tokyo_time)                                  
type(Tokyo_time)

2022-11-26 01:34:00+09:00

datetime.datetime

In [23]:
ist_time = ny_time.astimezone(timezone('Asia/Kolkata'))
print(ist_time)
type(ist_time)

2022-11-25 22:04:00+05:30

datetime.datetime

In [24]:
datetime.strptime('20:00', '%H:%M').strftime('%I:%M %p')

'08:00 PM'

In [26]:
datetime.strptime('08:00 PM', '%I:%M  %p').strftime('%H:%M')

'20:00'

In [28]:
data = ['2023-01-20', '2023-04-27', '2023-06-15']
my_series = pd.Series(data)
my_series

0    2023-01-20
1    2023-04-27
2    2023-06-15
dtype: object

In [29]:
my_series = pd.to_datetime(my_series)
my_series

0   2023-01-20
1   2023-04-27
2   2023-06-15
dtype: datetime64[ns]

In [30]:
print(my_series.dt.year)
print(my_series.dt.month)
print(my_series.dt.day)

0    2023
1    2023
2    2023
dtype: int32
0    1
1    4
2    6
dtype: int32
0    20
1    27
2    15
dtype: int32