In [2]:
import pandas as pd

In [3]:
data = {
    'brand': ['Wowyow', 'Wowyow', 'Splaysh', 'Splaysh', 'Pipplee'],
    'style': ['cistern', 'cistern', 'jug', 'stock', 'stock'],
    'rating': [4.0, 4.0, 5.5, 3.3, 3.0]
}

# Creating the DataFrame
df = pd.DataFrame(data)

In [4]:
df

     brand    style  rating
0   Wowyow  cistern     4.0
1   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

In [5]:
print(df)
print()
print(df.duplicated())

     brand    style  rating
0   Wowyow  cistern     4.0
1   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [6]:
data2 = {
    'color': ['olive', 'olive', 'gray', 'salmon', 'salmon'],
    'rating': [9.0, 9.0, 4.5, 11.0, 7.0],
    'type': ['rinds', 'rinds', 'pellets', 'pellets', 'pellets']
}

# Creating the DataFrame
df2 = pd.DataFrame(data2)
df2

    color  rating     type
0   olive     9.0    rinds
1   olive     9.0    rinds
2    gray     4.5  pellets
3  salmon    11.0  pellets
4  salmon     7.0  pellets

In [7]:
print(df2)
print()
print(df2.duplicated(subset=['type'], keep='last'))

    color  rating     type
0   olive     9.0    rinds
1   olive     9.0    rinds
2    gray     4.5  pellets
3  salmon    11.0  pellets
4  salmon     7.0  pellets

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [8]:
df.drop_duplicates()

     brand    style  rating
0   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

In [9]:
print(df)
df = df.drop_duplicates(subset='style')

print()
print(df)

     brand    style  rating
0   Wowyow  cistern     4.0
1   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3
4  Pipplee    stock     3.0

     brand    style  rating
0   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3

In [10]:
print(df)
df = df.drop_duplicates(subset=['style', 'rating'])

print()
print(df)

     brand    style  rating
0   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3

     brand    style  rating
0   Wowyow  cistern     4.0
2  Splaysh      jug     5.5
3  Splaysh    stock     3.3