In [4]:
import pandas as pd

In [1]:
magic='HOCUS POCUS'
print(type(magic))

<class 'str'>

In [2]:
magic=magic.swapcase()
print(magic)

hocus pocus

In [3]:
magic=magic.replace('cus','key')
print(magic)

hokey pokey

In [6]:
data = [['Mercury', 2440, 0], ['Venus', 6052, 0,], ['Earth', 6371, 1],
        ['Mars', 3390, 2], ['Jupiter', 69911, 80], ['Saturn', 58232, 83],
        ['Uranus', 25362, 27], ['Neptune', 24622, 14]
]

cols = ['Planet', 'radius_km', 'moons']

planets = pd.DataFrame(data, columns=cols)

In [7]:
planets

    Planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83
6   Uranus      25362     27
7  Neptune      24622     14

In [8]:
planets.shape

(8, 3)

In [9]:
planets.columns

Index(['Planet', 'radius_km', 'moons'], dtype='object')