In [1]:
name = 'Manuel'
number = 3
print('Hello {}, your lucky number is {}.'.format(name, number))

Hello Manuel, your lucky number is 3.

In [2]:
name = 'Manuel'
number = 3
print('Hello {name}, your lucky number is {num}.'.format(num=number, name=name))

Hello Manuel, your lucky number is 3.

In [3]:
print('Hello {1}, your lucky number is {0}.'.format(number, name))

Hello Manuel, your lucky number is 3.

In [4]:
price = 7.75
with_tax = price * 1.07
print('Base price: ${} USD. \nWith tax: ${} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.2925 USD.

In [5]:
print('Base price: ${:.2f} USD. \nWith tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.29 USD.

In [6]:
def to_celsius(x):
    return (x-32) * 5/9

# Create a temperature conversion table using string formatting
for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C